@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$muted: #E9EEF6;
$lightgray: #f8f8f8;
$gray: #d0cecea2;
$offblack: #000000ee;

#root {
  margin: 0 auto;
  padding: 2rem;
}

body {
  margin: 0 auto;
  display: flex;
  min-height: 100vh;
  container: root / inline-size;
  background-color: $muted;
}

h1 {
  font-size: 2.4rem;
  width: 85%;
  margin: 1.5rem auto;
  align-items: center;
  display: flex;

  img {
    margin-right: 0.5rem;
  }
}

h1, h2, legend {
  font-family: 'Montserrat';
  letter-spacing: 0;
  font-weight: 600;
  justify-content: flex-start;
}

.card {
  border-radius: 8px;
  border: 1px solid $gray;
  background-color: $lightgray;
  color: $offblack;
  padding: 1rem 2rem;
  margin-top: 3rem;
  width: 500px;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  img {
    width: 100%;
    height: auto;
    display: block;
  }
}

.questions {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.result {
  display: block;
}

fieldset {
  display: flex;
  flex-direction: column;
  margin: 0.75rem 0;
  padding: 0.5rem 0;
  border: none;
}

legend {
  font-size: 1.2rem;
}

input[type='radio'] {
  margin-right: 0.5rem;
}

label {
  font-size: 1.1rem;
}

.radio-btn {
  margin: 0.2rem 0;
}

button {
  color: white;
  background-color: $offblack;
  padding: 10px;
  border: none;
  border-radius: 16px;
  font-size: 0.95rem;
  font-weight: bold;
  min-width: 80px;
}

button:hover {
  cursor: pointer;
}

button:focus-visible {
  outline: 2px solid white;
  outline-offset: 2px;
  box-shadow: 0 0 0 6px black;
}

button:disabled {
  background-color: gray;
  cursor: default;
}

.button-container {
  margin: 1.25rem 0;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

@container root (max-width: 650px) {

  #root {
    padding: 1rem;
    margin: 0 auto;
  }

  .card {
    width: 80%;
    margin: 0 auto;
  }

}

@container root (max-width: 455px) {

  h1 {
    font-size: 1.7rem;
    width: 90%;
  }

  h2 {
    font-size: 1.3rem;
  }

  legend {
    font-size: 1.15rem;
  }

  .card {
    min-height: 390px;
  }
}

