@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

#root {
  margin: 0 auto;
  padding: 2rem;
}

body {
  margin: 0 auto;
  display: flex;
  min-height: 100vh;
  container: root / inline-size;
  background-color: #E9EEF6;
}

h1 {
  font-size: 2.4rem;
  width: 85%;
  margin: 1.5rem auto;
  align-items: center;
  display: flex;
}

h1 img {
  margin-right: 0.5rem;
}

h1, h2, legend {
  font-family: 'Montserrat';
  letter-spacing: 0;
  font-weight: 600;
  justify-content: flex-start;
}

.card {
  border-radius: 8px;
  border: 1px solid #d0cecea2;
  background-color: #f8f8f8;
  color: #000000ee;
  padding: 1rem 2rem;
  margin-top: 3rem;
  width: 500px;
  min-height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card img {
    width: 100%;
  }

fieldset {
  display: flex;
  flex-direction: column;
  margin: 0.75rem 0;
  padding: 0.5rem 0;
  border: none;
}

legend {
  font-size: 1.2rem;
}

input[type='radio'] {
  margin-right: 0.5rem;
}

label {
  font-size: 1.1rem;
}

button {
  color: white;
  background-color: #000000ee;
  padding: 10px;
  border: none;
  border-radius: 16px;
  font-size: 0.95rem;
  font-weight: bold;
  min-width: 80px;
}

button:hover {
  cursor: pointer;
}

button:focus-visible {
  outline: 2px solid white;
  outline-offset: 2px;
  box-shadow: 0 0 0 6px black;
}

button:disabled {
  background-color: gray;
  cursor: default;
}

.button-container {
  margin: 1.25rem 0;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

@container root (max-width: 650px) {

  #root {
    padding: 1rem;
    margin: 0 auto;
  }

  .card {
    width: 80%;
    margin: 0 auto;
  }

}

